#secondNavBar {
  --gt-color-menu-active-background: #e8eaed;
  --gt-color-menu-sub-active-background: #e8f0fe;

  background-color: transparent !important;
  padding: 24px 12px 24px 0 !important;

  .collapsible-header:not(:hover),
  .collapsible-header:not(.active) {
    background-color: transparent !important;
  }

  .quick-access {
    margin-left: 12px;
  }

  a.item {
    border-radius: 0 3rem 3rem 0 !important;
  }

  .menuTab {

    a.item {
      padding-left: 24px !important;
    }

    &.active {
      & > a.item:not(:hover) {
        color: inherit !important;
        background-color: var(--gt-color-menu-active-background) !important;
        font-weight: unset !important;

        .menu-icon {
          color: inherit !important;
        }
      }
    }

    ul {

      & > li {

        a.item {
          padding-left: 48px !important;
        }

        &.active {

          a:not(:hover) {
            background-color: var(--gt-color-menu-sub-active-background) !important;
          }
        }
      }
    }
  }
}

[data-theme-mode="dark"] #secondNavBar {
  --gt-color-menu-active-background: var(--theme-color-background-tinyContrast);
  --gt-color-menu-sub-active-background: var(--theme-color-background-lowContrast);
}

@media (prefers-color-scheme: dark) {
  [data-theme-mode="auto"] #secondNavBar {
    --gt-color-menu-active-background: var(--theme-color-background-tinyContrast);
    --gt-color-menu-sub-active-background: var(--theme-color-background-lowContrast);
  }
}


/*
#root {

  #secondNavBar {
    background-color: transparent;

    .navbar {
      font-size: 0.875rem;
      font-weight: 500;

      &.collapsible {
        box-shadow: none;

        .collapsible-header {
          background-color: transparent;
        }
      }

      .menuTab {

        &.active > .item {
          color: var(--theme-color-text-light);
          background-color: var(--theme-color-background-tinyContrast);
        }

        &:not(.active):hover > .item {
          background-color: var(--theme-color-background-lowContrast);
          color: var(--theme-color-text-contrast);
          transition: .2s ease all;
        }

        & > .item {
          color: var(--theme-color-text-light);
          transition: .2s ease all;
          border-bottom-right-radius: 25px;
          border-top-right-radius: 25px;
          padding: 10px 21px 10px 19px !important;
        }

        ul {

          & > li {

            .item {
              border-bottom-right-radius: 25px;
              border-top-right-radius: 25px;
            }

            &.active .item {
              color: var(--theme-color-brand);
              background-color: var(--theme-color-menu-contrast-backgroundHover);
            }

            &:not(.active):hover .item {
                background-color: var(--theme-color-background-lowContrast);
                color: var(--theme-color-text-contrast);
            }


            &:hover,
            &:focus,
            &:focus-within {

              .item-help-icon {
                opacity: 0.2;
                transition: .2s ease opacity;
              }

            }
            .item-help-icon {
              opacity: 0;
              transition: .2s ease all;
              right: 0;
              display: flex !important;
              line-height: normal;
              justify-content: center;
              align-content: center;
              align-items: center;

              .icon-help {
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}
 */