#secondNavBar {
  --gt-color-menu-active-background: #e8eaed;
  --gt-color-menu-sub-active-background: #e8f0fe;

  background-color: transparent !important;
  padding: 24px 12px 24px 0 !important;

  .collapsible-header:not(:hover),
  .collapsible-header:not(.active) {
    background-color: transparent !important;
  }

  .quick-access {
    margin-left: 12px;
  }

  .menuDropdown {
    border-radius: 0 21px 21px 0 !important;

    .title {
      padding: 10px 10px 10px 48px !important;
    }

    .items {
      margin-left: 12px;
      position: relative;

      .item {
        border-radius: unset !important;
      }
    }
  }

  a.item {
    border-radius: 0 3rem 3rem 0 !important;
  }

  .menuTab {

    a.item {
      padding-left: 24px !important;
    }

    &.active {

      & > *:not(.menuDropdown) {


        & > a.item {
          font-weight: unset !important;

          &:not(:hover) {
            color: inherit !important;
            background-color: var(--gt-color-menu-active-background) !important;

            .menu-icon {
              color: inherit !important;
            }
          }
        }
      }
    }

    ul {

      & > li {

        a.item {
          padding-left: 48px !important;
        }

        &.active {

          a:not(:hover) {
            background-color: var(--gt-color-menu-sub-active-background) !important;
          }
        }
      }
    }
  }

}

[data-theme-mode="dark"] #secondNavBar {
  --gt-color-menu-active-background: var(--theme-color-background-tinyContrast);
  --gt-color-menu-sub-active-background: var(--theme-color-background-lowContrast);
}

@media (prefers-color-scheme: dark) {
  [data-theme-mode="auto"] #secondNavBar {
    --gt-color-menu-active-background: var(--theme-color-background-tinyContrast);
    --gt-color-menu-sub-active-background: var(--theme-color-background-lowContrast);
  }
}