// sparkline colors
.sparkline-colors[data-name=backgroundColor] {
  color: transparent;
}

.sparkline-colors[data-name=lineColor] {
  color: var(--gt-color-sparkline-line);
}

.sparkline-colors[data-name=minPointColor] {
  color: var(--gt-color-sparkline-line);
}

.sparkline-colors[data-name=maxPointColor] {
  color: var(--gt-color-sparkline-line);
}

.sparkline-colors[data-name=lastPointColor] {
  color: transparent;
}

.sparkline-colors[data-name=fillColor] {
  color: var(--gt-color-sparkline-fill);
}
