@theme-color-brand: #1a73e8;
@theme-color-background-base: #f8f9fa;
@theme-color-header-background: #ffffff;
@theme-color-header-text: #5f6368;

@theme-color-widget-title-background: #f8f9fa;
@theme-color-widget-title-text: #4a4a4a;

@theme-color-menu-contrast-text: rgba(0,0,0,0.54);
@theme-color-menu-contrast-textActive: #3c4043;
@theme-color-menu-contrast-textSelected: #1a73e8;
@theme-color-menu-contrast-background: transprent;