@import "_colors";
@import "_variables";

@import "components/_admin_users_list";
@import "components/_button";
@import "components/_card";
@import "components/_control";
@import "components/_header";
@import "components/_menu";
@import "components/_search";
@import "components/_sparkline";
@import "components/_visitor_log";
@import "components/_widget";

@theme-color-brand: #1a73e8;
@theme-color-background-base: #f8f9fa;
@theme-color-header-background: #ffffff;
@theme-color-header-text: #5f6368;

@theme-color-widget-title-background: #f8f9fa;
@theme-color-widget-title-text: #4a4a4a;

@theme-color-menu-contrast-text: rgba(0,0,0,0.54);
@theme-color-menu-contrast-textActive: #3c4043;
@theme-color-menu-contrast-textSelected: #1a73e8;
@theme-color-menu-contrast-background: transprent;